<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permet à l'application de se connecter à Internet, NECESSAIRE pour communiquer avec base de données SQL -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/iconchuxu"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconchuxu"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.FullScreen"
        tools:targetApi="31">

        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/ConnexionTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Liste d'activités ici | Pour éviter des crashs  -->
        <activity android:name=".view.Activity2"
            android:screenOrientation="portrait" />
        <activity android:name=".view.Activity3"
            android:screenOrientation="portrait"
            android:theme="@style/ConnexionTheme.FullScreen" />
        <activity android:name=".view.Activity4"
            android:screenOrientation="portrait" />
        <activity android:name=".view.Activity5"
            android:screenOrientation="portrait" />
        <activity android:name=".view.Activity6"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.Activity7"
            android:screenOrientation="portrait" />
        <activity android:name=".view.Activity8"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>